* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
/* body */
body {
  background-color: #1e1e1e;
  font-family: sans-serif;
  color: #a0a0a0;
  line-height: 1.6;
}
/* main container */
.container {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 350px 1fr;
  gap: 50px;
  padding-top: 40px;
  margin: auto;
}
/* sidebar */
.sidebar {
  height: fit-content;
  background-color: #2a2a2a;
  border: 1px solid #3a3a3a;
  border-radius: 9%;
  position: sticky;
  top: 40px;
  padding: 20px 20px 0px 20px;
}

.profile {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 1.5px solid #a0a0a0;
  padding-bottom: 15px;
}

.pic {
  height: 150px;
  width: 150px;
  background-color: #1e1e1e;
  margin-top: 20px;
  margin-bottom: 15px;
  border-radius: 50%;
  object-fit: cover;
  border: 1.5px solid #3a3a3a;
}

.profile h3 {
  margin-bottom: 15px;
}

/* contact */
.contact {
  height: auto;
  width: 100%;
  margin-top: 15px;
}
.email,
.phone {
  height: auto;
  width: 100%;
  margin-bottom: 15px;
}

.label {
  font-weight: 500;
  font-size: 0.8rem;
  color: #a0a0a0;
}

.value {
  color: #e0e0e0;
  text-decoration: none;
  margin-bottom: 15px;
}

.social {
  height: max-content;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 30px;
  padding: 15px;
}
.linkedin,
.github {
  height: 30px;
  width: 30px;
  background-color: #3a3a3a;
  display: inline-block;
}
.social .social_link {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.social_link:hover {
  cursor: pointer;
  filter: sepia();
  transform: scale(1.1);
}

.location {
  /* margin-bottom: 15px; */
  border-bottom: 1.5px solid #a0a0a0;
}

/* main-content about,skills and etc */

.main-content {
  height: auto;
  width: 100%;
  position: sticky;
  background-color: #2a2a2a;
  border: 1px solid #3a3a3a;
  border-radius: 16px;
  padding: 40px;
  color: white;
}

/* navigation */

nav {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  border-bottom: 1.5px solid #3a3a3a;
  margin-bottom: 10px;
}

/* all hyperlinks a */

nav a {
  height: 5vh;
  width: auto;
  text-decoration: none;
  font-size: 1.2rem;
}
.active,
nav a:hover {
  color: gold;
}

/* about */

#about {
  background-color: #2a2a2a;
  margin-bottom: 40px;
}
.heading {
  height: 6vh;
  width: 100%;
  color: white;
  font-size: 2rem;
  margin-bottom: 15px;
}
.line {
  height: 5px;
  width: 50px;
  background-color: gold;
  margin-bottom: 15px;
}
.pcontent {
  color: #a0a0a0;
  font-size: 1rem;
}

/* skills */

#skill {
  height: auto;
  width: 100%;
  margin-bottom: 40px;
}

.gridContainer {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 30px;
}

.item {
  height: 150px;
  width: auto;
  border: 2px solid #3a3a3a;
  background-color: #1e1e1e;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  border-radius: 15px;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.item:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 20px 5px #3a3a3a;
}

/* education */

#education {
  height: auto;
  width: 100%;
}
.edTech {
  height: 350px;
  width: 100%;
  position: relative;
  margin-top: 20px;
}
.linear {
  position: absolute;
  height: 90%;
  width: 2px;
  top: 0px;
  bottom: 0px;
  left: 5px;
  border: 2px solid #3a3a3a;
}
.edu1,
.edu2 {
  margin-bottom: 30px;
  padding-left: 25px;
  position: relative;
}
.year,
.degree {
  height: auto;
  width: 100%;
  color: #e0e0e0;
  margin-bottom: 5px;
}
.college,
.work {
  height: auto;
  width: 100%;
  color: #a0a0a0;
  margin-bottom: 5px;
}

.goal {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 4px solid gold;
  position: absolute;
  top: 5px;
  left: 0px;
  z-index: 5;
}

/* portfolio */

.project-container {
  height: 650px;
  width: 100%;
  /* background-color: antiquewhite; */
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-top: 30px;
}
.project {
  height: 100%;
  width: 100%;
  background-color: #1e1e1e;
  border-radius: 12px;
  border: 1px solid #3a3a3a;
  overflow: hidden;
  transition:
    transform 0.5s ease,
    box-shadow 0.5s ease;
}

.project:hover {
  transform: translateY(-10px);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}
.project_pic {
  height: 50%;
  width: 100%;
  object-fit: cover;
}
.card {
  height: 50%;
  width: 100%;
  padding: 20px;
}
.project_heading {
  margin-bottom: 10px;
  font-size: 1.15rem;
  color: #e0e0e0;
}
.project_info {
  margin-bottom: 15px;
  color: #a0a0a0;
}
.profile p,
.tech_used {
  color: #ffbf00;
  padding: 4px 8px;
  background-color: rgba(255, 191, 0, 0.1);
  border-radius: 5px;
  font-size: 0.75rem;
  margin-right: 5px;
}
.live {
  color: #ffbf00;
  text-decoration: none;
  cursor: pointer;
  padding-left: 5px;
  animation-name: liveBtn;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 1s;
}

@keyframes liveBtn {
  0% {
    color: red;
  }
  50% {
    color: rgb(197, 63, 63);
  }
  100% {
    color: red;
  }
}

/* tablet responsive */
@media screen and (max-width: 950px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
  .sidebar {
    height: fit-content;
    position: static;

    padding: 40px;
  }
  .profile,
  .location {
    border-bottom: 2px solid #a0a0a0;
  }
  .social .social_link {
    height: 45px;
    width: 45px;
  }
}

/* mobile responsive */
@media screen and (max-width: 550px) {
  .gridContainer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4 1fr);
  }

  .project-container {
    height: fit-content;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4 1fr);
  }
}

/* end of css */
